# This is an awesome configuration file.
# It is written by ---FULL_NAME??? and emphasizes the color red!
# RED, hex color ---RED???, is a signal color ---SMILEY???

#? IF $LAPTOP
# This section is removed, if $LAPTOP is falsy.
this_machine = a_laptop
#? ELSE
# This section is cut, if $LAPTOP is not falsy.
this_machine = not_a_laptop
#? ENDIF

#? IF $(hostname) == "my_wonderfull_pc"
# It is my wonderfull pc!
#? ENDIF
